@model GamePerson
@{
	var games = Model.Games;
	var persons = Model.Persons;
}



<h2>Games <a asp-action="CreateGames" asp-controller="Home" class="btn btn-success btn-sm">AddGame</a> </h2>
<table class=" table table-bordered table-striped">

	<tr>
		<th>Game</th>
		<th>Genre</th>
		<th>Release date</th>
		<th>SinglePlayer</th>
		<th>Developer</th>
		<th>Publisher</th>
		<th>Persons</th>
		<th>Actions</th>
	</tr>
	@foreach (var game in games)
		{
	<tr>
		
			<td>@game.SpielName</td>
			<td>@game.Genre</td>
			<td>@game.ErscheingungsJahr</td>
			<td>@game.SinglePlayer</td>
			<td>@game.Entwickler</td>
			<td>@game.Publisher</td>

			<td>
				@foreach (var person in game.Persons)
				{
					<p>@person.Name</p>
				}
			</td>
			<td>
				<a asp-action="UpdateGame" class="btn btn-success" asp-route-id="@game.GameID">Edit</a>
				<a asp-action="deleteGame" class="btn btn-success" asp-route-id="@game.GameID">Delete</a>
			</td>
		
	</tr>
	}
</table>
<h2>Person <a asp-action="CreatePerson" class="btn btn-success btn-sm">Add Person</a> </h2>
<table class=" table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Sex</th>
		<th>Age</th>
		<th>Games</th>
		<th>Actions</th>

	</tr>
	@foreach (var person in persons)
		{
	<tr>
		
			<td>@person.Name</td>
			<td>@person.Geschlecht</td>
			<td>@person.Alter</td>


			<td>
				@foreach (var game in person.Games)
				{
					<p>@game.SpielName</p>
				}
			</td>
			<td>
				<a asp-action="UpdatePerson" class="btn" asp-route-id="@person.PersonId">Edit</a>
				<a asp-action="DeletePerson" class="btn" asp-route-id="@person.PersonId">Delete</a>
			</td>
		
	</tr>
	}
</table>
<h2>Games and Persons </h2>
<table class=" table table-bordered table-striped">
	@foreach(var game in games)
	{
	<tr>
		<td>
			<strong>@game.SpielName</strong>
		</td>
		<td>
			<ul>
				@foreach(var person in game.Persons)
				{
				<li>@person.Name</li>
				}
			</ul>
		</td>
	</tr>
	}
	@foreach(var person in persons)
{
	<tr>
		<td>
			<strong>@person.Name</strong>
		</td>
		<td>
			<ul>
				@foreach(var game in person.Games)
				{
				<li>@game.SpielName</li>
				}
			</ul>
		</td>
	</tr>
	}


</table>

