@model ManyToMany.ViewModels.AdminDashboardViewModel

@{
    ViewData["Title"] = "Панель Администратора";
}

<h1>Админ-панель</h1>

<hr />
<h3>🎮 Все Игры</h3>
<table class="table table-striped">
    <thead>
        <tr><th>Название</th><th>Разработчик</th><th>Действия</th></tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.SpielName</td>
                <td>@game.Entwickler</td>
                <td>
                    <a asp-controller="Games" asp-action="Edit" asp-route-id="@game.GameID" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h3>👤 Пользователи</h3>
<table class="table">
    <thead>
        <tr><th>Email</th><th>Имя</th><th>Действия</th></tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name @user.FirstName</td>
                <td>
                    <form asp-action="DeleteUser" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h3>💰 Журнал Покупок (Many-to-Many)</h3>
<table class="table table-dark">
    <thead>
        <tr><th>Кто купил</th><th>Что купил</th><th>Дата</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllPurchases)
        {
            <tr>
                <td>@item.Person.Email</td>
                <td>@item.Game.SpielName</td>
                <td>@item.PurchaseDate</td>
            </tr>
        }
    </tbody>
</table>